/**
 * WcGatewayMoneyButton
 */

@import "../variables";

.wc-gateway-moneybutton {

	.wc-gateway-moneybutton-error {
		color: $red;
		display: none;
		margin-bottom: 1rem;
		margin-left: 0.5rem;

		&.has-error {
			display: block;
		}
	}

	.dev-mode {
		background: mix($red, $white, 60%);
		border-radius: 5px;
		margin-bottom: 0.75rem;
		padding: 0.75rem;

		p {
			color: $white;
			font-weight: 500;
			margin: 0.25rem;
		}

		button {

			/* Corrects inability to style clickable `input` types in iOS */
			-webkit-appearance: none;
			background: mix($white, $blue, 50%);
			border: none;

			/* inherit font & color from ancestor */
			color: $white;
			cursor: pointer;
			font: inherit;

			/* Corrects font smoothing for webkit */
			-webkit-font-smoothing: inherit;
			-moz-osx-font-smoothing: inherit;

			/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
			line-height: normal;
			margin: 0.2rem;
			overflow: visible;
			padding: 0.4rem;
			width: auto;

			&:hover {
				background: mix($white, $blue, 30%);
			}
		}
	}
}
